/* "*" belgisi barcha elementlarga murojaatni anglatadi*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Lato";
}

/*bloklarning width ni o`zgarishini verstka uchun qulay qilib beradi*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*quyidagi teglarni blok qilib beradi*/
nav,
footer,
header,
aside {
  display: block;
}

/*elementlarning hossalarini barcha brauzerlar uchun mo`tadillashtirib beradi*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjusst: 100%;
  -moz-text-size-adjusst: 100%;
  -webkit-text-size-adjust: 100%;
}

/*quyidagi teglarning shriftlar oilasini vorislashi taminlanadi*/
input,
button,
textarea {
  font-family: inherit;
}

/*turli brauzerlarning o`ziga xos hususiyatlarini olib tashlash*/
input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-innesr {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*sarlavharning odatdagi stillarini nullashtirish*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}



.wrapper {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
  min-height: 100vh;
  background: #e9e7e7;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

// Head section

.head {
  display: flex;
  justify-content: space-between;
  padding: 22px 66px 17px 84px;

  &__contact {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: #2F80ED;
    line-height: 21px;
  }

  ul {
    display: flex;
    justify-content: space-around;
    gap: 45px;

    li {
      font-size: 17px;
      font-weight: 500;
      font-family: 'Inter';
      font-style: normal;
    }
  }
}


// Hero section


.hero {
  position: relative;
  max-width: 1360px;
  max-height: 711px;
  margin-bottom: 112px;

  .hero__img {
    
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__chack {
    position: absolute;
    left: 53px;
    top: 212px;
    gap: 16px;
    display: flex;
    flex-direction: column;
  }

  &__circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
  }

  &__title {
    font-family: 'Inter';
    font-style: normal;
    font-size: 50px;
    font-weight: 500;
    max-width: 651px;
    color: white;
    position: absolute;
    line-height: 54px;
    top: 514px;
    left: 49px;
  }

  &__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    color: white;
    position: absolute;
    top: 637px;
    left: 53px;
  }

  &__btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 36px;
    color: white;
    position: absolute;
    border-radius: 10px;
    background: #2F80ED;
    right: 67px;
    top: 665px;
    max-width: 521px;
    max-height: 91px;
    padding: 29px 141px 26px;
  }

}

// About section


.about {
  display: flex;
  gap: 25px;
  max-width: 1360px;
  margin-bottom: 104px;

  &__left {

  }

  &__description {
    max-width: 961px;
    max-height: 436px;
    padding: 48px 48px 55px 51px;
    background: white;
    margin-bottom: 25px;
    box-shadow: 0px 14px 60px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
  }

  &__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 54px;
    margin-bottom: 28px;
    color: #434343;
  }

  &__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #757575;
  }

  &__text:not(:last-child) {
    margin-bottom: 23px;
  }

  &__img1 {
    max-width: 961px;
    max-height: 351px; 

    img {
      width: 100%;
    }
  }

  &__img2 {
    max-width: 367px;
    max-height: 317px; 
    margin-bottom: 25px;

    img {
      width: 100%;
    }
  }

  &__img3 {
    max-width: 367px;
    max-height: 470px; 

    img {
      width: 100%;
    }
  }

  &__right {
    
  }
}


// Rooms section


.rooms {
  margin-bottom: 90px;

  &__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 48px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 322px);
    gap: 23px;
  }

  &__item {
  max-width: 323px;
  max-height: 429px;
  box-shadow: 0px 14px 60px rgba(0, 0, 0, 0.12);
  background: #FFFFFF;
  border-radius: 12px;
}

  &__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 21px;
    padding: 22px 31px 37px 21px;
    color: #555555;
  }

  &__price {
    display: flex;
    align-items: end;
    gap: 7px;
    font-weight: 600;
    font-size: 37px;
    line-height: 45px;
    padding: 0 0 30px 21px;

    h2 {
      color: #2D9CDB;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 37px;
      line-height: 45px;
    }

    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #989898;
      margin-bottom: 5px;
    }
  }
}


// Services section 

.service {
  margin-bottom: 92px;

  &__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 54px;
    margin-bottom: 48px;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 22px
  }

  &__card {
    img {
      width: 100%;
    }
  }

  &__card:first-child {
    grid-row: 1 / 3;
  }
  
  &__card:last-child {
    grid-column: 2 / 4;
  }

}

// videos section

.videos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 470px;
  padding-left: 21px;
  margin-bottom: 92px;
  width: 100%;

  &__title {

    h2 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 63px;
      line-height: 68px;
      color: #434343;
    }

    h1 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 91px;
      line-height: 100px;
      color: #2F80ED;
    }
  }

  &__video {
    position: relative;
    // max-width: 743px;
    max-height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__rectangle {
    position: relative;
    top: 0;

    img {
      width: 100%;
    }
  }

  &__ellipse {
    position: absolute;
  }

  &__group {
    position: absolute;
  }

  &__polygon {
    position: absolute;
  }
}


// comfort section

.comfort {
  display: flex;
  justify-content: space-between;
  background: white;
  max-height: 385px;
  margin-bottom: 143px;
  box-shadow: 0px 14px 90px rgba(0, 0, 0, 0.05);
  border-radius: 18px;

  &__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 54px;
    color: #434343;
    margin: 48px 0 28px 49px;
  }

  &__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #757575;
    margin: 0 0 27px 51px;
    max-width: 675px;
    max-height: 200px;
  }

  &__subtitle2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #757575;
    max-width: 675px;
    max-height: 200px;
    margin: 0 0 54px 51px;
  }

  &__image {
    max-width: 547px;
    max-height: 385px;
    margin-left: 87px;

    img {
      width: 100%;
    }
  }
}


// clients section


.clients {
  margin-bottom: 85px;

  &__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 54px;
    color: #434343;
    margin-bottom: 43px;
  }

  &__cards {
    display: flex;
    gap: 23px;
    margin-bottom: 43px;
  }

  &__card {
    background: white;
    box-shadow: 0px 14px 60px rgba(0, 0, 0, 0.07);
    border-radius: 22px;
    padding: 31px 38px 38px 33px;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 11px;
    background: #E0E0E0;
    border-radius: 60px;
    max-width: 125px;
    max-height: 49px;
    margin-bottom: 26px;
    padding: 9px 21px 8px 12px;

    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0.22em;
      color: #757575;
    }
  }

  &__yandex {
    max-width: 32px;
    max-height: 32px;
    background: white;
    border-radius: 50%;
    padding: 5px 5px 5px 4px;
    border: 1px solid #D3D3D3;

    img {
      max-width: 22px;
      max-height: 22px;
    }
  }

  &__decription {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #757575;
    margin-bottom: 33px;
  }

  &__info {
    display: flex;
    gap: 21px;
  }

  &__image {
    max-width: 65px;
    max-height: 65px;
    border-radius: 50%;

    img {
      width: 100%;
    }
  }

  &__name {
    
  }

  &__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: #757575;
    margin-bottom: 5px;
  }

  &__day {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #757575; 
  }
}
.btn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding: 26px 72px;
  background: #2F80ED;
  border-radius: 10px;
  display: flex;
  margin: 0 auto;
}


// location section

.location {
  position: relative;
  width: 100%;
  margin-bottom: 85px;
  max-height: 657px;
  filter: drop-shadow(0px 14px 60px rgba(0, 0, 0, 0.07));
  border-radius: 20px;

  &__image {

    img {
      width: 100%;
      border-radius: 15px;
    }
  }

  &__decription {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 529px;
    max-height: 398px;
    padding: 44px 78px 42px 52px;
    background: #FFFFFF;
    border-radius: 50px 0 20px 0;
    box-shadow: -15px -16px 60px rgba(0, 0, 0, 0.08);
  }

  &__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 41px;
    line-height: 45px;
    color: #535353;
    margin-bottom: 16px;
  }

  &__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #757575;
    margin-bottom: 39px;
  }

  &__button {
    padding: 26px 53px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: #2F80ED;
    border-radius: 10px;
  }
}


// contact section

.contact {
  max-width: 1360px;
  max-height: 495px;
  position: relative;
  filter: drop-shadow(0px 14px 60px rgba(0, 0, 0, 0.07));
  border-radius: 10px;

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    top: 0;
  }

  &__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 54px;
    position: absolute;
    top: 289px;
    left: 32px;
    color: white;
  }

  &__messengers {
    display: flex;
    justify-content: start;
    gap: 25px;
    position: absolute;
    top: 375px;
    left: 32px;

    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 28px;
      color: white;
    }
  }

  &__messenger {
    display: flex;
    gap: 28px;
    align-items: center;
    height: 82px;
    background: rgba(238, 238, 238, 0.32);
    backdrop-filter: blur(7px);
    border-radius: 130px;
    padding-right: 51px;
  }

  &__messenger:first-child &__icon {
    background: #2F80ED;
    border-radius: 50%;
  }

  &__messenger:nth-child(2) &__icon{
    background: #58D063;
    border-radius: 50%;
  }

  &__messenger:last-child &__icon {
    background: #2AABEE;
    border-radius: 50%;
  }

  &__icon {
    max-width: 82px;
    max-height: 82px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 30px;
      max-height: 30px;
    }
  }
}


// footer section

.footer {
  margin-top: 73px;
  background: #FFFFFF;
  box-shadow: 0px 14px 60px rgba(0, 0, 0, 0.07);
  border-radius: 22px 22px 0 0;
  padding: 46px 33px 0;

  &__title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    border-bottom: 2px solid #CACACA;

    h2 {
      font-family: 'Fuzzy Bubbles';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 54px;
      color: #2F80ED;
    }

    .plaza {
      font-family: 'Fuzzy Bubbles';
      color: #43C453;
    }

    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 41px;
      color: #2F80ED;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    padding: 31px 0 52px;

    ul {
      display: flex;
      gap: 45px;

      li {
        color: #808080;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
      }
    }

    h4 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #808080;
    }
  }
}


